// Fonts
$primary-font: 'Roboto', sans-serif;

// stylised font
$style-font: 'Shadows Into Light Two', cursive;

// hand written style
$style-font-2: 'Lobster', cursive;

// basic slight style
$style-font-3: 'Secular One', sans-serif;
