//------------------------------------------------------------------------------
// Nav
//------------------------------------------------------------------------------
$nav-height-xl:   4rem;
$nav-height-l:    3rem;
$nav-height-m:    2rem;
$nav-height-s:    1rem;

//------------------------------------------------------------------------------
// Hero
//------------------------------------------------------------------------------
$hero-height-xl:  30rem;
$hero-height-l:   25rem;
$hero-height-m:   15rem;
$hero-height-S:   10rem;


$base-font-size:  24px;
