//------------------------------------------------------------------------------
// UI Colors Map
//------------------------------------------------------------------------------
$ui-colors: (
 default        : $lightest-grey,
 success        : $light-green,
 error          : $light-red,
 warning        : $light-red,
 info           : $light-blue
);
