// -----------------------------------------------------------
// ADMIN
// -----------------------------------------------------------
/*
 * Admin wrapper is the main container. It holds two elements.
 * Aside				20%
 * Container Admin		80%
*/
.admin-wrapper {
    margin-top: 4rem;
	display:flex;
}

.container-admin {
    width:80%;
}

/*
 * Admin User Wrapper: Aligned: flex columns
 * .admn-user-wrapper
 *      .admin-user-img
 *      .admin-username
 *      .admin-online
*/
.admin-user-wraper {
	height:15rem;
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	padding: 1rem 0;
	font-weight: 300;
	align-content: center;
	color: color(greyscale-color, base);
}

.admin-user-wraper > .admin-user-img {
	width:50%;
	height:5rem;
	border-radius:50%;
	align-self: center;
}

.admin-user-wraper > .admin-username {
	text-align: center;
	padding:1rem;
}
.admin-user-wraper > .admin-online {
	text-align: center;
	color:color(green-color);
}


// aside
/*
 * Aside is aligned useing the display: flex and flex-direction: column.
*/

.admin-wrapper > aside.admin {
	display: flex;
	flex-direction: column;
	border-right: .5rem solid #4192d9;
	background-color: color(theme, aside);
}

aside.admin > ul {
	width:100%;
	padding:0rem;
}

aside.admin > ul > li {
	width:100%;
	display: inline-flex;
	padding: 0;
	list-style: none;
	padding-left: 1rem;
	align-items: center;
	border-bottom: 1px solid color(greyscale-color, blackest);
	background-color: color(greyscale-color, darkest);
	&:hover {
		background-color: color(greyscale-color, dark);
		transition:  all .6s ease;
	}
	&:active {
		background-color: color(greyscale-color, dark);
	}
}

.material-icons {
	color: color(greyscale-color, blackest);
}


aside.admin > ul > li > a {
	//width: 100%;
	padding: 1rem;
	display: flex;
}

// admin articles form

.admin-form-container {
	display: flex;
	flex-direction: row;
	padding:1rem;
}

.admin-form-container > .field {
	width: calc(100% / 2);
}

.admin-form-container > .field > textarea {
	height: 75vh;
}

form#search-form {
	padding:1rem;
	margin:1rem 0;
	input#search {
		//width:span(9)
	}
}


// USER ADDED
// Overriding the standard textarea for the form.


