// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header.hero {

}

header.hero {

}

header.welcome-header > h1 {

}

section.welcome {

}

section.welcome > .welcome-row-3 {
	padding:1rem;
}

section.welcome > .welcome-row-3 > .welcome-published {
}

section.welcome > .welcome-row-3 > .welcome-info {
}


section.news {
	flex-direction: column;
}

section.news > .news-row-5 {
	padding:1rem;
}
