.hero {
}
h1 {
	font-size: modular-scale(5);
	line-height: 1.5em;
	margin-bottom:1rem;
}
h2 {
	font-size: modular-scale(3);
	line-height: 1.5em;
	margin-bottom:1rem;
}
h3 {
	font-size: modular-scale(2);
	line-height: 1.5em;
	margin-bottom:.5rem;
}
h4 {
	font-size: modular-scale(1);
	line-height: 1.5em;
	margin-bottom:.5rem;
}
blockquote {
}
p {
	font-size: modular-scale(0);
	line-height: 1.5em;
}
