html {
	box-sizing: border-box;
	webkit-font-smoothing: antialiased;
	moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body{
	font:{
	font-size: $base-font-size;
	family: $primary-font;
  }
	margin:0;
	@include linx(color(blue-color));
	color:color(greyscale-color, darkest);
	background-color: color(theme, bg);

	*::-moz-selection { background-color: color(blue-color);}
	*::selection { background-color: color(blue-color, light); }
}

* {
	margin-top:     0;
	margin-bottom:  0;
	padding-top:    0;
	padding-bottom: 0;
}

/**
 * Remove the border on images inside links in IE 10.
 * Set the width to 100%
 */

img{
	width: 100%;
	border-style: none;
}
